    .text_color{
      background-color: #9bdf46!important;
      color: white!important;
      cursor: pointer;
    }
    .gly_size {
      font-size: 20px;
    }

    body {
  width:100%;
  font-family: roboto;
 /* margin:5% auto; */
  background:white;
  }
  @media only screen and (min-device-width: 320px){
    #visualization_wrap{
    /*padding-bottom: 80%!important;*/
  }
  #start_date{
    float: none;
  }
  #end_date{
    margin-top: 10px;
  }
  #to{
    margin-left: 5px;
  }
  #drop{
    margin-left: 65px;
  }
  #filter{
    margin-left: 20px;
  }
  #dayBasedGraph{
    margin-top: 10px;
  }
  }
    @media only screen and (min-device-width: 768px){
      #visualization_wrap{
   /* padding-bottom: 20%!important;*/
  }
  }
    .btn{
      position: relative;
      height: 30px;
      font-size: 16px;
      width :125px;
      display: block;
      margin: 30px auto;
      padding: 0;
      overflow: hidden;
      border-width: 0;
      outline: none;
      border-radius: 2px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
      background-color: #2ecc71;
      color: #346473;
      transition: background-color .3s;
      font-weight: bold;
    }
    #filter{
      width: 50px;
      padding: 0;
      overflow: hidden;
      border-width: 0;
      outline: none;
      border-radius: 2px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
      transition: background-color .3s;
      color: #346473;
      font-weight: bold;
      background-color: #ffffff;
    }
    .btn:hover, .btn:focus {
      background-color: #27ae60;
    }
    .btn > * {
      position: relative;
    }
    .btn span {
      display: block;
      padding: 12px 24px;
    }
    .btn:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 0;
      padding-top: 0;
      border-radius: 100%;
      background-color: rgba(236, 240, 241, .3);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    .btn:active:before {
      width: 120%;
      padding-top: 120%;
      transition: width .2s ease-out, padding-top .2s ease-out;
    }
    /* Styles, not important */
    *, *:before, *:after {
      box-sizing: border-box;
    }

    /* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.tooltip_info{
  height: 15px;
  width: 15px;
  margin-left: 5px;
}

#pushdata{
  padding-top: 4px;
}

.bolt_graph_button{
    padding: 4px;
    height: 80%
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    transition: background-color .3s;
    color: #346473;
    font-weight: bold;
    background-color: #ffffff;
}